:host {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header     header      header"
    "ab-sk-th   status      bg"
    "ab-sk-th   attacks     bg"
    "ab-sk-th   equipment   bg"
    "ab-sk-th   .           bg";
  gap: var(--section-gap);
  padding: var(--section-gap);
}

.ab-sk-th {
  display: grid;
  grid-area: ab-sk-th;
  grid-template-areas:
    ".         proficiency  proficiency"
    "abilities skills       skills"
    "abilities throws       throws";
  gap: var(--section-gap);
}

ecs-proficiency-bonus {
  grid-area: proficiency;
}

ecs-abilities {
  grid-area: abilities;
}

ecs-skills {
  grid-area: skills;
}

ecs-saving-throws {
  grid-area: throws;
}

ecs-stats-header {
  grid-area: header;
}

ecs-status {
  grid-area: status;
}

ecs-attacks {
  grid-area: attacks;
}

ecs-equipment {
  grid-area: equipment;
}

ecs-short-background {
  grid-area: bg;
}
