<mat-toolbar>
  <span>Easy Character Sheet</span>
  <span>
    <button mat-icon-button aria-label="Login" (click)="login()">
      <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button aria-label="Load" (click)="load()">
      <mat-icon>download</mat-icon>
    </button>
    <button mat-icon-button aria-label="Save" (click)="save()">
      <mat-icon>cloud_upload</mat-icon>
    </button>
  </span>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="Stats">
    <ecs-stats></ecs-stats>
  </mat-tab>
  <mat-tab label="Background">
    <ecs-background></ecs-background>
  </mat-tab>
  <mat-tab label="Spells">
    <ecs-spells></ecs-spells>
  </mat-tab>
</mat-tab-group>
