<mat-form-field>
  <mat-label>Character Name</mat-label>
  <input matInput />
</mat-form-field>

<mat-form-field>
  <mat-label>Level</mat-label>
  <input matInput />
</mat-form-field>

<mat-form-field>
  <mat-label>Class</mat-label>
  <input matInput />
</mat-form-field>

<mat-form-field>
  <mat-label>Background</mat-label>
  <input matInput />
</mat-form-field>

<mat-form-field>
  <mat-label>Player Name</mat-label>
  <input matInput />
</mat-form-field>

<mat-form-field>
  <mat-label>Race</mat-label>
  <input matInput />
</mat-form-field>

<mat-form-field>
  <mat-label>Alignment</mat-label>
  <input matInput />
</mat-form-field>

<mat-form-field>
  <mat-label>Experience Points</mat-label>
  <input matInput />
</mat-form-field>
