<section class="name">
  <mat-form-field class="character">
    <mat-label>Character Name</mat-label>
    <input matInput />
  </mat-form-field>
</section>

<section>
  <mat-form-field>
    <mat-label>Class & Level</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Background</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Player Name</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Race</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Alignment</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Experience Points</mat-label>
    <input matInput />
  </mat-form-field>
</section>
