:host {
  display: flex;
  gap: var(--gap-md);
}

section {
  display: flex;
  flex-direction: column;

  mat-form-field {
    width: var(--field-width-xs);
    padding: 0 0 var(--field-v-gap);
  }
}
