<section>
  <mat-form-field>
    <mat-label>CP</mat-label>
    <input type="text" matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>SP</mat-label>
    <input type="text" matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>EP</mat-label>
    <input type="text" matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>GP</mat-label>
    <input type="text" matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>PP</mat-label>
    <input type="text" matInput />
  </mat-form-field>
</section>
<mat-form-field>
  <mat-label>Equipment</mat-label>
  <textarea matInput></textarea>
</mat-form-field>
