:host {
  display: grid;
  padding: var(--section-gap);
  grid-template-areas:
    "header       header      header"
    "appearance   allies      allies"
    "backstory    additional  additional"
    "backstory    treasure    treasure";
  grid-template-columns: repeat(3, 1fr);
  gap: var(--section-gap);
}

ecs-background-header {
  grid-area: header;
}

ecs-appearance {
  grid-area: appearance;
}

ecs-allies-organizations {
  grid-area: allies;
}

ecs-backstory {
  grid-area: backstory;
}

ecs-additional-features {
  grid-area: additional;
}

ecs-treasure {
  grid-area: treasure;
}
