<section class="name">
  <mat-form-field class="character">
    <mat-label>Character Name</mat-label>
    <input matInput />
  </mat-form-field>
</section>

<section>
  <mat-form-field>
    <mat-label>Age</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Height</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Weight</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Eyes</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Skin</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Hair</mat-label>
    <input matInput />
  </mat-form-field>
</section>
