:host {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header     header      header"
    "ab-sk-th   status      ."
    "ab-sk-th   attacks     ."
    "ab-sk-th   equipment   ."
    "ab-sk-th   .           .";
}

.ab-sk-th {
  display: grid;
  grid-area: ab-sk-th;
  grid-template-areas:
    "abilities skills skills"
    "abilities throws throws";
  gap: var(--gap-md);

  ecs-abilities {
    grid-area: abilities;
  }

  ecs-skills {
    grid-area: skills;
  }

  ecs-saving-throws {
    grid-area: throws;
  }
}

ecs-header {
  grid-area: header;
}

ecs-status {
  grid-area: status;
}

ecs-attacks {
  grid-area: attacks;
}

ecs-equipment {
  grid-area: equipment;
}
