<section class="ais">
  <label>
    <span>Armor</span>
    <output>{{ armor$ | async }}</output>
  </label>

  <label>
    <span>Initiative</span>
    <output>{{ initiative$ | async }}</output>
  </label>

  <label>
    <span>Speed</span>
    <output>{{ speed$ | async }}</output>
  </label>
</section>

<section class="form-row">
  <header>Hit Points</header>
  <mat-form-field>
    <mat-label>Current</mat-label>
    <input type="number" matInput [formControl]="currentHitPointsControl" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Temporary</mat-label>
    <input type="number" matInput [formControl]="tempHitPointsControl" />
  </mat-form-field>
</section>

<section class="hd-ds">
  <div class="hit-dice">
    <header>Hit Dice</header>
    <mat-form-field>
      <mat-label>Remaining</mat-label>
      <input type="number" matInput [formControl]="remainingHitDiceControl" />
    </mat-form-field>

    <label>
      <span>Total Hit Dice</span>
      <output>{{ totalHitDice$ | async }}</output>
    </label>
  </div>

  <div class="death-saves">
    <header>Death Saves</header>
    <div>
      <span>Successes</span>
      <mat-button-toggle-group>
        <mat-button-toggle>0</mat-button-toggle>
        <mat-button-toggle>1</mat-button-toggle>
        <mat-button-toggle>2</mat-button-toggle>
        <mat-button-toggle>3</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div>
      <span>Failures</span>
      <mat-button-toggle-group>
        <mat-button-toggle>0</mat-button-toggle>
        <mat-button-toggle>1</mat-button-toggle>
        <mat-button-toggle>2</mat-button-toggle>
        <mat-button-toggle>3</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</section>
