@use "sass:math";

:host {
  min-width: 240px;
}

section {
  display: flex;
  margin: var(--section-gap) 0;
}

.ais {
  display: flex;

  label {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);

    span {
      font-weight: var(--header-weight);
    }
  }
}

.hd-ds {
  gap: var(--field-h-gap);

  > * {
    width: calc(50% - (var(--field-h-gap) / 2));
  }
}

.form-row {
  display: flex;
  align-items: baseline;
  gap: var(--gap-sm);
  flex-wrap: wrap;

  header {
    flex-basis: 100%;
  }

  mat-form-field {
    flex-basis: calc(math.div(100%, 3) - var(--gap-sm));
    flex-grow: 1;
  }
}

.hit-dice {
  mat-form-field {
    width: 100%;
    margin-bottom: var(--field-v-gap);
  }

  label {
    display: flex;
    flex-direction: column;

    span {
      font-weight: var(--header-weight);
    }
  }
}
