:host {
  padding: 0 var(--gap-lg) var(--gap-lg) var(--gap-lg);
}

:host,
label {
  display: flex;
  flex-direction: column;
  width: var(--field-width-xs);
}

header {
  margin-bottom: var(--gap-lg);
}
