<section class="name">
  <mat-form-field class="character">
    <mat-label>Character Name</mat-label>
    <input matInput [formControl]="characterNameControl" />
  </mat-form-field>
</section>

<section>
  <mat-form-field>
    <mat-label>Class & Level</mat-label>
    <input matInput [formControl]="classAndLevelControl" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Background</mat-label>
    <input matInput [formControl]="backgroundControl" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Player Name</mat-label>
    <input matInput [formControl]="playerNameControl" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Race</mat-label>
    <input matInput [formControl]="raceControl" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Alignment</mat-label>
    <input matInput [formControl]="alignmentControl" />
  </mat-form-field>

  <div class="xp">
    <mat-form-field>
      <mat-label>XP</mat-label>
      <input type="number" matInput [formControl]="experienceControl" />
    </mat-form-field>
    <label>
      <span>Level</span>
      <output>{{ level$ | async }}</output>
    </label>
  </div>
</section>
