@use "sass:math";

:host {
  display: flex;
  align-items: baseline;

  :first-child {
    flex-basis: math.div(100%, 3);
  }

  :last-child {
    flex-basis: math.div(100%, 3) * 2;
  }
}

.character {
  width: var(--field-width-md);
}

section:not(.name) {
  display: flex;
  flex-wrap: wrap;

  mat-form-field {
    flex: 1 1 200px;
    // Non-collapsing margins in flex children
    margin: calc(var(--field-v-gap) / 2) calc(var(--field-h-gap) / 2);
  }
}
