<mat-form-field>
  <mat-label>Personality Traits</mat-label>
  <textarea matInput rows="4"></textarea>
</mat-form-field>

<mat-form-field>
  <mat-label>Ideals</mat-label>
  <textarea matInput rows="4"></textarea>
</mat-form-field>

<mat-form-field>
  <mat-label>Bonds</mat-label>
  <textarea matInput rows="4"></textarea>
</mat-form-field>

<mat-form-field>
  <mat-label>Flaws</mat-label>
  <textarea matInput rows="4"></textarea>
</mat-form-field>

<mat-form-field>
  <mat-label>Features & Traits</mat-label>
  <textarea matInput rows="20"></textarea>
</mat-form-field>
