@use "@angular/material" as mat;
@use "sass:map";

@include mat.core();

$easy-character-sheet-primary: mat.define-palette(mat.$indigo-palette);
$easy-character-sheet-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

$easy-character-sheet-theme: mat.define-light-theme(
  (
    color: (
      primary: $easy-character-sheet-primary,
      accent: $easy-character-sheet-accent,
    ),
    density: -3,
  )
);

@include mat.button-toggle-theme($easy-character-sheet-theme);
@include mat.checkbox-theme($easy-character-sheet-theme);
@include mat.form-field-theme(
  map.merge(
    $easy-character-sheet-theme,
    (
      density: -5,
    )
  )
);

@include mat.icon-theme($easy-character-sheet-theme);
@include mat.input-theme($easy-character-sheet-theme);
@include mat.toolbar-theme($easy-character-sheet-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// TODO: Consider tokens?
html {
  --gap-sm: 4px;
  --gap-md: 8px;
  --gap-lg: 16px;

  --section-gap: var(--gap-lg);

  --field-h-gap: var(--gap-sm);
  --field-v-gap: var(--gap-sm);

  --field-width-xs: 60px;
  --field-width-sm: 80px;
  --field-width-md: 160px;
  --field-width-lg: 240px;

  --header-weight: 500;
  --header-gap: var(--gap-md);
}

header {
  margin-bottom: var(--header-gap);
  font-weight: var(--header-weight);
}
