:host {
  display: flex;
  gap: var(--gap-sm);

  > * {
    flex-grow: 1;
  }
}

.name {
  width: var(--field-width-sm);
}

.bonus {
  width: var(--field-width-xs);
}

.damage {
  width: var(--field-width-md);
}
